{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Events</h1>
<div class="row">

{% for event in event_list %}
<div class="d-flex col-lg-2 col-md-4 col-sm-6 " style="margin-top: 10px;">
    <div class="card" style="width: 16rem;">
  <img class="card-img-top" src="{% static 'images/img0.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ event }} </h5>
    <h6><small style="color: red;">{{ event.event_date }}</small></h6>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ event.venue }} <ins><a href="{{event.venue.web}}">Venue</a></ins></li>
    <li class="list-group-item"><a href="#" class=" btn btn-primary btn-sm card-link text-center">View</a></li>
  </ul>
        {% if user.is_authenticated %}
        {% if user == event.manager %}
      <a href="{% url 'update_event' event.pk %}" class="btn btn-sm btn-secondary">Update</a>
      <a href="{% url 'delete_event' event.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
        {% endif %}
        {% endif %}




</div>

</div>
{% endfor %}

</div>

{% endblock %}